@import '../libs/functions';
@import '../libs/mixins';
@import '../libs/vars';

.icon {
	@include icon;
	border-bottom: none;
	position: relative;

	> .label {
		display: none;
	}
}

*:not(span).icon:before {
	margin-right: .5em;
}
