ul {
	li ~ li {
		margin-top: .5em;
	}
}

.list--horizontal {
	list-style: none;
	
	li {
		display: block;
		
		.button {
			display: block;
		}
	}
	
	li + li {
		margin-top: 1em;
	}
	
	@include breakpoint($button-collapse) {
		li {
			display: inline-block;
		}
	}
}

.list--no-bullets {
	list-style: none;
}