.sidebar {
	font-size: 0.8em;
	flex-grow: .33;
	padding-right: 1.65em;

	a {
		border: 0;
	}
}

section {
  padding: 4em 1em 1em;

	header {
		&.major {
			text-align: center;

			h2, h3, h4, h5, h6 {
				border-bottom: solid 2px _palette(border-light);
				display: inline-block;
				padding-bottom: 1em;
				position: relative;
			}
		}
	}

	.container {
		width: 90%;
		margin: 0 auto;
		@include breakpoint($on-desktop) {
			width: 80em;
		}
	}
}
