.container {
	width: 90%;
	max-width: 960px;

	&--medium {
		width: 90%;
		max-width: 720px;
	}

	&--large {
		width: 90%;
		max-width: 960px;
	}


	@include breakpoint($on-mobile) {
		&--large-half {
			width: 90%;
			max-width: 480px;
		}
	}
}

.content {
	margin-top: 0;
	padding-top: 4em;
	padding-bottom: 4em;

	&--no-padding {
		padding-top: 0;
		padding-bottom: 0;
	}

	&--style1 {
		background: #5B6E8C;
	}

	&--style3 {
		background: #928CC7;
		color: lighten(#d6dbe2, 20);
	}
}

.PapersTable {
	border: 1px solid #67a0e4;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom: 0;
	max-height: 600px;
	overflow: auto;

	& + p {
		margin-top: 0;
		padding: 1em;
		border: 1px solid #67a0e4;
		border-bottom: 0;
	}

	> table {
		border-collapse: collapse;

		tr:nth-of-type(2n) {
			background: rgba(#000, .1);
		}

		thead {
			border-bottom: 1px solid #67a0e4;
		}

		th {
			padding: 1em;
			background: #7DAEE8;
			color: #fff;
			font-size: 1.3rem;
			font-weight: 400;
			text-transform: uppercase;
		}

		td {
			padding: 1em;

			&:first-of-type {
				text-align: center;
				font-style: italic;
				font-size: 1.5rem;
				min-width: 12em;
			}

			&:nth-of-type(2) {
				color: #fff;
			}
		}
	}
}

.box {
	border: 1px solid rgba(0, 0, 0, 0.125);
	border-radius: 5px;
	padding: 1em 2em 2em;
	font-size: 1.5rem;
	color: lighten(#d6dbe2, 10);

	&--special {
		border-color: #67a0e4;
		background: #7DAEE8;
	}

	&--purple {
		background: #928CC7;
		border-color: #7770BB;
	}

	h5 {
		display: block;
		padding-bottom: 6px;
		border-bottom: 1px solid rgba(0, 0, 0, 0.125);
	}
}

.row__col.box + .row__col.box {
	margin-top: 1em;

	@include breakpoint($on-mobile) {
		margin-top: 0;
	}
}


#FeaturesSection {
	.row + .row, .row__col + .row__col {
		margin-top: 0;
	}

	.container--large-half {
		padding: 3em 2em;
	}


	@include breakpoint($on-mobile) {
		.row__col:first-child > * {
			margin-left: auto;
			margin-right: 0;
		}

		.row__col:last-child > * {
			margin-left: 0;
			margin-right: auto;
		}
	}


	@for $i from 1 through 3 {
		$j: 0.035 * ($i - 1);

		.row:nth-of-type(#{$i}) {
			background-color: rgba(0,0,0, $j);

			@for $k from 1 through 2 {
				.row__col:nth-of-type(#{$k}) {
					background: rgba(0, 0,0 , $j * $k)
				}
			}
		}
	}
}

.GitHubBackground {
	position: relative;
	overflow: hidden;

	&::after {
		position: absolute;
		right: -30px;
		bottom: 0;
		top: 0;
		color: rgba(#000, .25);
		z-index: -1;
		font-size: 250px;
		transform: rotate(-8deg);
		font-family: "FontAwesome";
		content: "\f113";
	}
}

#PapersSection {
	padding-bottom: 0;

	.major {
		h2 {
			padding-right: 0;

			&::before, &::after {
				position: absolute;
				font-size: 50px;
				line-height: 1;
				top: 0;
			}

			&::before {
				left: -50px;
				transform: rotate(30deg) scaleX(-1);
				content: "❧";
			}

			&::after {
				right: -50px;
				transform: rotate(-30deg);
				content: "❧";
			}
		}
	}
}

#GettingStartedSection {
	.row + .row {
		margin-top: 2em;
	}
}

.member-image {
	@extend .-no-rhythm;
}

#TeamSection {
	.member-image + .member-image {
		margin-top: 2em;
	}

	.row {
		margin-top: 2em;
	}

	@include breakpoint($on-mobile) {
		.member-image + .member-image {
			margin-top: 0;
		}

		.row + .row {
			margin-top: 2em;
		}
	}
}