.snackbar {
	position: fixed;
	transition: transform .2s linear;
	width: 80%;
	max-width: 960px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	background: #323232;
	color: #fff;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%) translateY(100%);
	z-index: 1000;
	padding: 1em 2em;
	@extend .-no-rhythm;
	display: table;
	box-shadow: 0 0 16px rgba(#323232, .75);

	> .label {
		width: 100%;
	}

	> .action-btn {
		color: #e44c65;
	}

	> .label, > .action-btn, > .dismiss-btn {
		display: table-cell;
	}

	a {
		border: 0;
		font-size: 1.3rem;
		text-transform: uppercase;
		color: rgba(#fff, .5);
		transition: color .2s linear;

		&:hover {
			color: #fff;
		}
	}

	a + a {
		padding-left: 1em;
	}

	&.visible {
		@include breakpoint($on-notebook) {
			transform: translateX(-50%) translateY(0);
		}
	}
}