---
layout: default
---

<nav class="header-nav row row--no-wrap">
	<a class="header-nav__toggle row__col" href="#nav"><i class="fa fa-home" aria-hidden="true"></i>&nbsp;Navigation</a>
	{% include nav.html %}
</nav>

<header id="Banner" class="banner -no-rhythm -text-center">
	<nav class="nav row -center">
		{% include nav.html %}
	</nav>
		
	<div class="container -center row row--middle">
		<div class="row__col">
			<article>
				<h1>KNOSSOS</h1>
				<p class="byline">3D Image Visualization and Annotation</p>
		
				<ul class="list--horizontal">
					<li>
						<a
						href="https://github.com/knossos-project/knossos/releases/download/v4.1.2/win64-Setup-Knossos.4.1.2.exe"
						class="button button--primary" data-button="download"><i class="fa fa-windows"></i> Latest
						Release ({{ site.data.knossos.version }}, 64bit)</a>
					</li>
				
					<li>
						<a href="#GettingStartedSection" class="button"><i class="fa fa-download"></i> Download Dataset</a>
					</li>
					
					<li>
						<a href="#DevelopmentSection" class="button button--purple"><i class="fa fa-puzzle-piece"></i> Get Help</a>
					</li>
				</ul>
				
				<sub>Not your system? <a href="https://github.com/knossos-project/knossos/releases">Click here</a></sub>
			</article>
			
			<article>
				<div class="browser-mockup -center">
					<div class="browser-mockup__chrome"></div>
					<img src="{{ "images/skel.png" | prepend: site.baseurl }}">
				</div>
			</article>
		</div>
	</div>
</header>

<section id="AboutSection" class="content content--style1">
	<div class="container--medium -center">
		{% capture about %}{% include about.md%}{% endcapture %}
		{{ about | markdownify }}
	</div>
</section>

<section id="FeaturesSection" class="content content--no-padding content--style2">
	{% include features.html %}
</section>






<section id="GettingStartedSection" class="content content--style1">
	{% include getting-started.html %}
</section>




<section id="DevelopmentSection" class="content content--style2">
	<div class="container--large -center">
		<header class="major">
			<h2>Help & Discuss<span class="__icon"><i class="fa fa-lightbulb-o"></i></span></h2>
		</header>
		
		<div class="row row--gutter row--start">
			<div class="row__col box box--special">
					<h5>Exchange Ideas</h5>
			
					<p>You can enhance <strong>KNOSSOS&rsquo;</strong> annotation features by writing Python plugins, and we also provide a Python script that helps you to convert your existing image data into a <strong>KNOSSOS</strong>-readable format.</p>
			</div>
			
			<div class="row__col box box--special">
					<h5>Write a Plugin</h5>
			
					<p>You can enhance <strong>KNOSSOS&rsquo;</strong> annotation features by writing Python plugins, and we also provide a Python script that helps you to convert your existing image data into a <strong>KNOSSOS</strong>-readable format.</p>
			</div>

			<div class="row__col box box--purple">
					<h5>Request a Feature</h5>

					<p><strong>KNOSSOS</strong> is developed using the <em>Qt5</em> toolkit, and available on all major platforms. You can help the development of <strong>KNOSSOS</strong> by submitting bugs and other suggestions at <a href="https://github.com/knossos-project/knossos/issues">Github&rsquo;s issue tracker&nbsp;<i class="fa fa-external-link"></i></a> or by contacting us directly.</p>
			</div>
		</div>
	</div>
</section>




<section id="TeamSection" class="content content--style2">
	<div class="container--large -center">
		{% capture team %}{% include team.md %}{% endcapture %}
		{{ team | markdownify }}
	</div>
</section>