---
layout: default
---

<div class="snackbar">
	<span class="label"><i class="fa fa-birthday-cake" aria-hidden="true"></i> KNOSSOS 5.0 has been released! <i class="fa fa-birthday-cake" aria-hidden="true"></i></span>
	<a class="action-btn" href="{{ site.data.knossos.release-url }}">Download</a>
	<a class="dismiss-btn" href="#/">Dismiss</a>
</div>

<nav class="header-nav row row--no-wrap">
	<a class="header-nav__toggle row__col" href="#nav"><i class="fa fa-bars" aria-hidden="true"></i>&nbsp;Navigation</a>
	{% include nav.html %}
</nav>

<header id="Banner" class="banner -no-rhythm -text-center">
	<nav class="nav row -center">
		{% include nav.html %}
	</nav>
		
	<div class="container -center row row--middle">
		<div class="row__col">
			<section>
				<h1>KNOSSOS</h1>
				<p class="byline">3D Image Visualization and Annotation</p>
		
				<ul class="list--horizontal">
					<li><a
						href="https://github.com/knossos-project/knossos/releases/download/v4.1.2/win64-Setup-Knossos.4.1.2.exe"
						class="button button--primary" data-button="download"><i class="fa fa-windows"></i> Latest
						Release ({{ site.data.knossos.version }}, 64bit)</a></li>
				
					<li><a href="#GettingStartedSection" class="button"><i class="fa fa-download"></i> Download Dataset</a></li>

					<li><a href="{{ "documentation/" | prepend: site.baseurl }}" class="button"><i class="fa fa-book"></i> Documentation</a></li>
					
					<li><a href="#DevelopmentSection" class="button button--purple"><i class="fa fa-lightbulb-o"></i> Help & Contribute</a></li>
				</ul>
				
				<sub>Not your system? <a href="https://github.com/knossos-project/knossos/releases">Click here</a></sub>
			</section>
			
			<section>
				<div class="browser-mockup -center">
					<div class="browser-mockup__chrome"></div>
					<img src="{{ "images/KNOSSOS.jpg" | prepend: site.baseurl }}" alt="KNOSSOS Application Window">
				</div>
			</section>
		</div>
	</div>
</header>

<section id="AboutSection" class="content content--style1">
	<div class="container--medium -center">
		{% capture about %}{% include about.md%}{% endcapture %}
		{{ about | markdownify }}
	</div>
</section>

<section id="FeaturesSection" class="content content--no-padding content--style2">
	{% include features.html %}
</section>

<section id="GettingStartedSection" class="content content--style1">
	{% include getting-started.html %}
</section>

<section id="DevelopmentSection" class="content content--style2">
	<div class="container--large -center">
		<header class="major">
			<h2>Help & Contribute<span class="__icon"><i class="fa fa-lightbulb-o"></i></span></h2>
		</header>
		
		<div class="row row--gutter row--start">
			<div class="row__col box box--special">
				<h5>Bug Reports & Feature Requests</h5>
			
				<p><strong>KNOSSOS</strong> is being actively maintained to provide a useful tool to the study of connectomics. If you miss a feature that would make <strong>KNOSSOS</strong> more useful for your research, please tell us on our <a href="https://github.com/knossos-project/knossos/issues">issue tracker on GitHub <i class="fa fa-external-link"></i></a> or <a href="mailto:knossos-team@mpimf-heidelberg.mpg.de">via e-mail</a>.</p>
				
				<p>If you encounter any bugs while using <strong>KNOSSOS</strong>, please tell us as well.</p>
			</div>
			
			<div class="row__col box box--special">
				<h5>Integrating KNOSSOS</h5>
			
				<p><strong>KNOSSOS</strong> can be integrated into your existing workflow, either by using the main program or its Python plugin interface.</p>
				
				<p>You can contact us if you need help in writing Python plugins for <strong>KNOSSOS</strong> or if you have an idea how to improve <strong>KNOSSOS’</strong> integration with your workflow.</p>
			</div>

			<div class="row__col box box--purple">
				<h5>General Assistance</h5>

				<p>We want to work closely together with other research teams in the connectomics field. Feel free to <a href="mailto:knossos-team@mpimf-heidelberg.mpg.de">contact us</a> if you need any technical assistance in this area or if you want to exchange ideas.</p>
			</div>
		</div>
	</div>
</section>

<section id="TeamSection" class="content content--style2">
	<div class="container--large -center">
		{% capture team %}{% include team.md %}{% endcapture %}
		{{ team | markdownify }}
	</div>
</section>