<div class="row">
	<div class="row__col">
		<div class="container--large-half">
			<h3>3D Visualization</h3>
			<p>3D visualization of image datasets is done by displaying a 2D representation of each side, and allowing you to navigate through these image planes. By dynamically loading only data from the surrounding of the current location, seamless navigation is not limited to datasets that fit into the available RAM but also works with much larger datasets stored in <strong>KNOSSOS&rsquo;</strong> special format on disk.</p>
		</div>
	</div>

	<div class="row__col">
		<div class="container--large-half">
			<img class="image fit" src="{{ 'images/3d.png' | prepend: site.baseurl }}" alt="KNOSSOS 3D Visualization Example">
		</div>
	</div>
</div>

<div class="row">
	<div class="row__col">
		<div class="container--large-half">
			<h3>3D Annotation</h3>
			<p><strong>KNOSSOS</strong> supports two annotation methods&mdash;skeletonization as well as 3D segmentation for volume reconstruction. Skeletonization is done by placing and connecting nodes, while <strong>KNOSSOS&rsquo;</strong> segmentation mode allows manual processing of pre-segmented data, and creation of new segmentations from scratch.</p>
			<p>These features are already being used at <em>Max Planck Institute for Medical Research</em> (among others), where mice retina was successfully reconstructed.</p>
		</div>
	</div>

	<div class="row__col">
		<div class="container--large-half">
			<img class="image fit" src="{{ 'images/segmentation.png' | prepend: site.baseurl }}" alt="KNOSSOS Segmentation Example">
		</div>
	</div>
</div>

<div class="row">
	<div class="row__col plugin-feature">
		<div class="container--large-half">
			<h3>Extendable</h3>

			<p>You can enhance <strong>KNOSSOS&rsquo;</strong> annotation features by writing Python plugins, and we also provide a Python script that helps you to convert your existing image data into a <strong>KNOSSOS</strong>-readable format.</p>
		</div>
	</div>

	<div class="row__col GitHubBackground">
		<div class="container--large-half">
			<h3>Open Source & Cross-Platform</h3>

			<p><strong>KNOSSOS</strong> is developed using the <em>Qt5</em> toolkit, and available on all major platforms. You can help the development of <strong>KNOSSOS</strong> by submitting bugs and other suggestions at <a href="https://github.com/knossos-project/knossos/issues">Github&rsquo;s issue tracker <i class="fa fa-external-link"></i></a> or by contacting us directly.</p>
		</div>
	</div>
</div>
