<footer id="footer">
	<div class="row -align-center">
		<div class="col">
			<ul class="vertical -no-margin">
				<li><a href="{{ "data/" | prepend: site.baseurl }}">Data Preparation</a></li>

				<li><a href="{{ "plugins/" | prepend: site.baseurl }}">KNOSSOS Plugins</a></li>

				<li><a href="{{ "documentation/" | prepend: site.baseurl }}">Documentation</a></li>

				<li><a href="{{ site.data.knossos.github-url }}">Github <span class="icon fa-external-link"></span></a></li>
			</ul>
		</div>

		<div class="col">
			<a href="#banner" class="icon fa-chevron-up">Back to top</a>
		</div>
	</div>

	<div class="row -footer -align-left">
		<p class="-no-margin">KNOSSOS is developed at <a href="https://www.mpimf-heidelberg.mpg.de/en">Max Planck Institute for Medical Research <span class="icon fa-external-link"></span></a> in Heidelberg, Germany.</p>
	</div>
</footer>
