<div class="container--large -center">
	<header class="major">
		<h2>Getting started<span class="__icon"><i class="fa fa-rocket"></i></span></h2>
	</header>


	<div class="row row--gutter">
		<div class="row__col">
			<p>A special image format is required to use <strong>KNOSSOS.</strong> You have the choice to either try our example datasets, or learn how to create your own.</p>

			<p>The built-in datasets are called <code>e2006</code>, <code>ek0563</code>, and <code>j0256</code>.</p>

			<p>An external dataset can be loaded into <strong>KNOSSOS</strong> by selecting its <code>.conf</code> file in <span class="menuselection"><span class="guilabel">File</span>▸<span class="guilabel">Choose Dataset...</span></span>, and clicking on <span class="guilabel">Use</span>.</p>
		</div>
	</div>

	<div class="row row--gutter row--start">
		<div class="row__col box">
			<h5>Own Datasets</h5>

			<p>If you have your own image datasets, they will probably need to be converted into <strong>KNOSSOS’</strong> format. Take a look at our documentation to learn how to do so.</p>

			<ul class="list--horizontal">
				<li><a class="button button--small" href="{{ "documentation" | prepend: site.baseurl }}">Documentation</a></li>
				<li><a class="button button--small" href="{{ "documentation/dataset_preparation.html" | prepend: site.baseurl }}">Dataset Preparation</a></li>
			</ul>
		</div>

		<div class="row__col box">
			<h5>Offline Datasets</h5>

			<p>These are offline datasets that already contain all pre-formatted images:</p>

			<ul class="list--horizontal">
				<li><a class="button button--small" href="https://github.com/knossos-project/knossos-project.github.io/releases/download/host/e1088_small.zip">small (14 MiB)</a></li>
				<li><a class="button button--small" href="https://github.com/knossos-project/knossos-project.github.io/releases/download/host/e1088_large.zip">large (369 MiB)</a></li>
			</ul>
		</div>
	</div>
</div>
