<header id="header" class="alt">
	<a href="{{ "index.html" | prepend: site.baseurl }}" class="icon fa-home ">Home</a>
	<a href="{{ "data/" | prepend: site.baseurl }}" class="icon fa-rocket ">Data Preparation</a>
	<a href="{{ "plugins/" | prepend: site.baseurl }}" class="icon fa-puzzle-piece ">KNOSSOS Plugins</a>
	<a href="{{ "documentation/" | prepend: site.baseurl }}" class="icon fa-newspaper-o ">Documentation</a>
	{% if page.path == "index.html" %}
	<a href="#TeamSection" class="icon fa-users ">About us</a>
	{% else %}
	<a href="{{ "index.html#TeamSection" | prepend: site.baseurl }}" class="icon fa-users ">About us</a>
	{% endif %}
	<a href="#nav" class="icon fa-bars">Menu</a>
</header>

<nav id="nav">
	<ul class="menu">
		<li><a href="{{ "index.html" | prepend: site.baseurl }}" class="icon fa-home">Home</a></li>
		<li><a href="{{ "data/" | prepend: site.baseurl }}" class="icon fa-rocket">Data Preparation</a></li>
		<li><a href="{{ "plugins/" | prepend: site.baseurl }}" class="icon fa-puzzle-piece">KNOSSOS Plugins</a></li>
		<li><a href="{{ "documentation/" | prepend: site.baseurl }}" class="icon fa-newspaper-o">Documentation</a></li>
		<li>
			{% if page.title == "" %}
			<a href="#TeamSection" class="icon fa-users">About us</a>
			{% else %}
			<a href="{{ "index.html#TeamSection" | prepend: site.baseurl }}" class="icon fa-users">About us</a>
			{% endif %}
		</li>
		<li><a href="{{ site.data.knossos.win-url }}" class="button -download -special icon fa-windows -fit">Latest Release</a></li>
		<li><a href="#GettingStartedSection" class="button -outline icon fa-download -fit">Download Dataset</a></li>
	</ul>
</nav>
