<div class="container--large -center">	
	<header class="major">
		<h2>KNOSSOS<br>References</h2>
	</header>
	
	<div class="PapersTable">
		<table>
			<thead>
				<tr>
					<th>Date of Publication</th>
					<th>Title of Publication</th>
					<th>DOI Link</th>
				</tr>
			</thead>

			{% for paper in site.data.papers %}
			<tr>
				<td><date>{{ paper.date }}</date></td>

				<td>{{ paper.title }}</td>

				<td><a href="{{ paper.doi }}">{{ paper.doi }}</a></td>
			</tr>
			{% endfor %}
		</table>
	</div>

	<p><strong>Your paper?</strong> <em>If you think KNOSSOS might be useful for your research, feel free to <a href="mailto:knossos-team@mpimf-heidelberg.mpg.de">contact us</a>. We are happy to exchange ideas and to provide assistance!</em></p>
</div>