[data-alignment] {
	&[data-alignment~="center"] > * {
		margin-left: auto;
		margin-right: auto;
	}
}

[data-vbox] {
	> * + * {margin-top: 1em; }
	&[data-vbox~="small"] > * + * {margin-top: .5em; }
	&[data-vbox~="medium"] > * + * {margin-top: 2em; }
	&[data-vbox~="large"] > * + * {margin-top: 4em; }
}

[data-hbox] {
	> *:not(:last-child) { margin-right: 1em; }
	&[data-hbox~="-small"] > *:not(:last-child) { margin-right: .5em; }
}
