.header-nav {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	border-bottom: 1px solid rgba(21,46,76,0.5);
	transition: transform .5s $easing;
	text-align: center;

	@include breakpoint(960px) {
		transform: translateY(-100%);
	}

	svg {
		width: 20px;
		height: 20px;
		margin-right: 8px;
	}

	&.-visible {transform: translateY(0); }

	input {
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
	}
}
.header-nav a,
.header-nav label {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	padding: 12px 12px;
	color: #d6dbe2;
	border-bottom: 0;
	background: #4E92DF;
	box-shadow: inset 0px -1px 0px 0px #3c72b1;
	transition: background .2s ease-in-out, color .2s ease-in-out;

	&:hover {
		background: #5496E0;
		color: #fff;
	}
}
.header-nav a {
	display: none;
}
.header-nav label {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
}
.header-nav a + a {
	border-left: 1px solid #4B8DD8;
}
.header-nav input:checked ~ a {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
}
.header-nav {
	@include breakpoint(960px) {
		display: flex;
		flex-direction: row;
		align-items: stretch;

		a {
			display: flex;
			width: 100%;
			align-items: center;
			justify-content: center;
		}
		a, label {
			flex-grow: 1;
		}
		label {
			display: none;
		}
	}
}

.nav {
	display: none;

	a {
		display: flex;
		align-items: center;
		color: #b0b8c1;
		padding: 2em 2em .5em 2em;
		transition: color .2s ease-in-out, border-color .2s ease-in-out;

		&:hover {
			color: #fff;
			border-color: #5C9CE5;
		}
	}

	@include breakpoint(960px) {
		display: flex;
		font-size: .9rem;
		letter-spacing: 1px;
		justify-content: center;

		svg {
			width: 16px;
			height: 16px;
			margin-right: 8px;
		}
	}
}
