@charset "utf-8";

$min-width:   320px;
$on-mobile:   540px;
$on-notebook: 720px;
$on-desktop:  1200px;


@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic);


@mixin breakpoint($device) {
	@media screen and (min-width: $device) {
		@content;
	}
}


// Grid & Reset.
@import 'reset';
@import 'grid';

// Base.
@import 'base/page';
@import 'base/typography';

// Components.
@import 'components';

// Entities.
@import 'entities/banner';
@import 'entities/nav';
@import 'entities/section';
@import 'entities/list';
@import 'entities/button';
@import 'entities/footer';