
.-no-rhythm { * + * { margin-top: 0; } }

.-center { margin-left: auto; margin-right: auto; }


@media (min-width: 640px) {
	.-float-left { float: left; }
	.-float-right { float: right; }
}

.-cf:before,
.-cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.-cf:after {
    clear: both;
}