

html { font-size: 62.5%; }

body {
	color: #404040;
	font-family: "Lato", Helvetica, Arial, sans-serif;
	font-size: 1.6rem;
	font-weight: 300;
	line-height: 1.65;
}

* + * {
	margin-top: 1em;
}


ul {
	margin-left: 2em;
}


ul * + * {
	margin-top: .25em;
}

li ul, li ol {
	margin-left: 2em;
}

h1, h2, h3, h4, h5, h6 {
	color: #9ca5b5;
	font-weight: 700;
	letter-spacing: 0.125em;
	text-transform: uppercase;	
}
