.table-wrapper {
	-webkit-overflow-scrolling: touch;
	overflow-x: auto;
}

thead {
	font-weight: _font(strong-font-weight);
	border-bottom: 1px solid _palette(border);
	
	th {
	text-align: center !important;
		
	}
}

tbody {
	tr {
//		border: solid _size(border-width) _palette(border);
//		border-left: 0;
//		border-right: 0;

		&:nth-child(2n + 1) {
			background-color: _palette(border-light);
		}
	}
	
	td {
		padding: .5em;
	}
}
