<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{% if page.title %}{{ site.name }} &mdash; {{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
	<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

	<link rel="stylesheet" href="{{ "css/documentation.css" | prepend: site.baseurl }}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
</head>


<body>
	<div id="sidedrawer">
		<header class="sidedrawer__header">
			<span>Table of Content</span>
		</header>
		
		<aside>
			<h6>Dataset Preparation</h6>
			<a href="#">Preparing your Dataset</a>

			<h6>KNOSSOS Quickstart Guide</h6>
			<a href="#">Launching KNOSSOS</a>
			<a href="#">Saving/Auto-Saving/Loading</a>
			<a href="#">Basic Viewport Handling</a>
			<a href="#">Skeleton Tracing</a>
			<a href="#">Comments</a>
				
			<span class="sub-heading">Shortcuts</span>
			<div>
				<a href="#">Application Shortcuts</a>
				<a href="#">Tree Shortcuts</a>
				<a href="#">Node Shortcuts</a>
				<a href="#">Viewport Shortcut</a>
			</div>

			<h6>KNOSSOS Full Documentation</h6>
			<span class="sub-heading">Branch Points</span>
			<div>
				<a href="#">What are Branch Points?</a>
				<a href="#">Add Branch Point</a>
				<a href="#">Jump to Branch Point</a>
				<a href="#">Remove Branch Point</a>
			</div>
			
			<a href="#">Coordinates</a>
			<a href="#">Edit Skeleton (Menu)</a>
			<a href="#">File (menu)</a>
			<a href="#">Help (Menu)</a>
			<a href="#">Shortcuts</a>
			<a href="#">All Available Shortcuts</a>
			<a href="#">Moving [scrolling, panning]</a>
			<a href="#">Nodes [skeleton nodes, skeleton points]</a>
			<a href="#">Preferences (Menu)</a>
			<a href="#">Annotation Window</a>
			<a href="#">Trees [Skeleton]</a>
			<a href="#">Navigation (menu)</a>
			<a href="#">Viewport</a>
			<a href="#">Viewport Settings</a>
			<a href="#">Windows (menu)</a>
		</aside>
	</div>
	
	<header id="header">
		<a class="row__col row__col--grow-0 js-toggle-sidedrawer">☰</a>

		<a class="row__col row__col--grow-0" href="{{ site.url}}"><i class="fa fa-home" aria-hidden="true"></i>
</a>

		<span class="row__col">KNOSSOS Documentation</span>
	
		<span class="row__col row__col--grow-0">v{{ site.data.knossos.version }}</span>
	</header>

	<div id="content-wrapper">
		{{ content }}
	</div>
	
	<footer id="footer">
			Made with ♥ by <a href="https://www.muicss.com">MUI</a>
	</footer>
	
	<script>
	(function () {
		var $body = document.querySelector("body");
		var $sidebar = document.querySelector("#sidedrawer");
		
		
		function toggleSidedrawer() {
			$body.classList.toggle("show-sidebar");
		}
		
		document.querySelector(".js-toggle-sidedrawer").addEventListener("click", toggleSidedrawer);
		
		var $headings = document.querySelectorAll(".sub-heading");

		function getClickFunction(i) {
		  return function () {
			  $headings[i].classList.toggle("show-links");
		  }
		}
		
		for(var i = 0; i < $headings.length; i++) {
			$headings[i].addEventListener("click", getClickFunction(i), false);
		}
		
	})();
	</script>
</body>

</html>
