@import '../libs/functions';
@import '../libs/mixins';
@import '../libs/vars';

#banner {
	background-image: linear-gradient(to bottom, rgba(0, 0, 0,0.2), rgba(0, 0, 0, 0.6)), url('../images/grain_header.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow-y: hidden;
	max-height: 1080px;
	padding-top: 8em;
	padding-bottom: 4em;
	text-align: center;

	@include breakpoint($on-notebook) {
		padding-bottom: 0;
	}

	> .col {
		align-self: center;
	}

	a {
		color: inherit;
	}

	h1 {
		font-size: 2em;
		@include breakpoint($on-notebook) {
			font-size: 3em;
		}
	}

	p {
		font-size: 1em;
		@include breakpoint($on-notebook) {
			font-size: 1.5em;
		}
		letter-spacing: _font(letter-spacing-alt);
		text-transform: uppercase;
	}
}


.browser-mockup {
	display: none;

	@include breakpoint($on-notebook) {
		transform: translateY(0);
		transition: transform 0.85s ease-out, opacity 0.85s ease-out;
		transition-delay: 1s;
		opacity: 1;
		display: block;
		width: 80%;
		max-width: 1080px;
		margin: 2em auto 0;
	}

	.image { border-radius: 0; margin: 0; display: block; }

	.chrome {
		background-color: #e5e5e5;
		border-top-left-radius: _size(border-radius);
		border-top-right-radius: _size(border-radius);
		height: 3em;
		line-height: 3em;
		position: relative;
		width: 100%;


		&:before, &:after {
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			color: #bbb;
			cursor: default;
			display: block;
			font-family: FontAwesome;
			font-size: 1.2em;
			font-style: normal;
			font-weight: normal;
			height: inherit;
			line-height: inherit;
			overflow: hidden;
			position: absolute;
			top: 0;
			width: 5em;
		}

		&:after {
			content: '\f077 \f078 \f00d';
			letter-spacing: 0.65em;
			right: 0.75em;
			text-align: right;
			text-indent: 0.75em;
		}
	}
}
