html {
	font-size: 62.5%;
}

body {
	font-family: "Lato", "Helvetica", "Arial", sans-serif;
	font-size: 1.6rem;
	line-height: 1.65;
	font-weight: 300;
	color: #d6dbe2;
}

body * {
	* + * {
		margin-top: 1em;
	}
	
	.row__col + .row__col {
		margin-top: 0;
	}
}



b, strong {
	color: #fff;
	font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
	color: #fff;
	font-weight: 700;
}

h1, h2, h3, h4, h6 {
	text-transform: uppercase;
	letter-spacing: .5rem;
}

h1 {
	font-size: 3.6rem;
	font-weight: 300;	
}

h5 {
	font-weight: 300;
	font-size: 2.0rem;
}

.major {
	text-align: center;
	
	&:not(:first-of-type) {
		margin-top: 6em;
	}
	
	h2 {
		position: relative;
		display: inline-block;
		border-bottom: 2px solid rgba(0, 0, 0, 0.125);
		padding: 0 24px .5em 4px;
		margin-bottom: 2em;
	
		.__icon {
			top: calc(100% - 24px);
			left: -48px - 0;
			letter-spacing: 0;
			position: absolute;
			text-align: center;
			width: 48px;
			height: 48px;
			border-radius: 50%;
			background: rgba(0, 0, 0, 0.125);
			line-height: 48px;
		}
	}
}

.byline {
	text-transform: uppercase;
	font-size: 1.4rem;
	margin-bottom: 3em;
}

h6 {
	color: #e2eeff;
	letter-spacing: 2px;
	font-weight: bold;
	font-size: 1.3rem;
}


a {
	color: #fff;
	text-decoration: none;
	border-bottom: 2px solid rgba(#fff, .25);
	transition: border-color .2s ease-in-out;
	
	&:hover {
		border-color: #e44c65;
	}
}

code {
	background: rgba(0, 0, 0, 0.125);
	border-radius: 3px;
	font-family: monospace;
	border: 1px solid rgba(0, 0, 0, 0.125);
	color: rgba(#fff, .8);
	font-size: 0.9em;
	padding: .25em .5em;
}

.guilabel {
	padding:0.1em 0.6em;
	//border: 1px solid #ccc;
	border: 1px solid #d6dbe2;
	font-size: 1.2rem;
	font-weight: 400;
	background: #fff;
	color:#333;
	border-radius:3px;
	//margin: 0 -3px 0 1px;
	text-shadow: 0 1px 0 #fff;
	white-space:nowrap;
}

.menuselection {
	.guilabel:first-of-type {
		margin: 0 -3px 0 1px;
	}
}

.circle-badge {
	display: inline-block;
	text-align: center;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	background: rgba(0, 0, 0, 0.125);
	line-height: 48px;
}

//body, input, select, textarea {
//	color: _palette(fg);
//	font-family: _font(base-font-family);
//	font-size: 13pt;
//	font-weight: _font(base-font-weight);
//	line-height: _font(base-line-ratio);
//
//	@include breakpoint($on-notebook) {
//		font-size: 12pt;
//	}
//
//	@include breakpoint($on-desktop) {
//		font-size: 11pt;
//	}
//}
//
//strong, b {
//	color: _palette(fg-bold);
//	font-weight: _font(strong-font-weight);
//}
//
//em, i {
//	font-style: italic;
//}
//
//h1, h2, h3, h4, h5, h6 {
//	color: _palette(fg-strong);
//	font-weight: 700;
//	letter-spacing: _font(letter-spacing-alt);
//	text-transform: uppercase;
//
//	a {color: inherit; text-decoration: none;}
//}
//
//h2 {
//	font-size: 1.35em;
//	line-height: _font(base-line-height)/1.35;
//	margin-top: _font(base-line-height)/1.35 * 1.5em;
//	margin-bottom: _font(base-line-height)/1.35 * 0.5em;
//}
//
//h3 {
//	font-size: 1.15em;
//	line-height: _font(base-line-height)/(1.15);
//	margin-top:_font(base-line-height)/(1.15)*1.5em;
//	margin-bottom:_font(base-line-height)/(1.15)*0.5em;
//}
//
//h4 {
//	font-size: 1em;
//	line-height: _font(base-line-height);
//	margin-top: _font(base-line-height) * 1em;
//	margin-bottom: _font(base-line-height) * 1em;
//}
//
////h2 {
////	font-size: 1.35em;
////	line-height: 1.75em;
////
////	// @include breakpoint(small) {
////		//    font-size: 1.1em;
////		//    line-height: 1.65em;
////		//  }
////	}
////
////	h3 {
////		font-size: 1.15em;
////		line-height: 1.75em;
////
////		//@include breakpoint(small) {
////			//    font-size: 1em;
////			//    line-height: 1.65em;
////			//  }
////		}
////
////		h4 {
////			font-size: 1em;
////			line-height: 1.5em;
////		}
////
////		h5 {
////			font-size: 0.8em;
////			line-height: 1.5em;
////		}
////
////		h6 {
////			font-size: 0.7em;
////			line-height: 1.5em;
////		}
//
//sub {
//	font-size: 0.8em;
//	position: relative;
//	top: 0.5em;
//}
//
//sup {
//	font-size: 0.8em;
//	position: relative;
//	top: -0.5em;
//}
//
//blockquote {
//	border-left: solid (_size(border-width) * 4) _palette(border);
//	font-style: italic;
//	margin: 0 0 _size(element-margin) 0;
//	padding: (_size(element-margin) / 4) 0 (_size(element-margin) / 4) _size(element-margin);
//}
//
//code {
//	background: _palette(border-bg);
//	border-radius: _size(border-radius);
//	// border: solid _size(border-width) _palette(border);
//	font-family: _font(family-fixed);
//	font-size: 0.9em;
//	margin: 0 0.25em;
//	padding: 0.25em 0.65em;
//}
//
//pre {
//	-webkit-overflow-scrolling: touch;
//	font-family: _font(family-fixed);
//	font-size: 0.9em;
//	margin: 0 0 _size(element-margin) 0;
//
//	code {
//		display: block;
//		line-height: 1.75em;
//		padding: 1em 1.5em;
//		overflow-x: auto;
//	}
//}
//
//hr {
//	border: 0;
//	border-bottom: solid _size(border-width) _palette(border-light);
//}
//
//a:not(button), a:not(.button) {
//	color: _palette(fg-link);
//	text-decoration: none;
//	border-bottom: 1px solid rgba(_palette(knossos-red), 0.66);
//
//	&:hover {
//		border-bottom: 1px solid _palette(knossos-red);
//	}
//}
