html {
	font-size: 62.5%;
}

body {
	font-family: "LatoLatinWeb", "Helvetica", "Arial", sans-serif;
	font-size: 1.6rem;
	line-height: 1.65;
	font-weight: 300;
	color: #d6dbe2;
}

body * {
	* + * {
		margin-top: 1em;
	}

	@include breakpoint($grid-collapse) {
		.row__col + .row__col {
			margin-top: 0;
		}
	}
}


b, strong {
	color: #fff;
	font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
	color: #fff;
	font-weight: 700;
}

h1, h2, h3, h4, h6 {
	text-transform: uppercase;
	letter-spacing: .5rem;
}

h1 {
	font-size: 3.6rem;
	font-weight: 300;
}

h5 {
	font-weight: 300;
	font-size: 2.0rem;
}

.major {
	text-align: center;

	&:not(:first-of-type) {
		margin-top: 6em;
	}

	h2 {
		position: relative;
		display: inline-block;
		border-bottom: 2px solid rgba(0, 0, 0, 0.125);
		padding: 0 24px .5em 4px;
		margin-bottom: 2em;

		.__icon {
			top: calc(100% - 24px);
			left: -48px - 0;
			letter-spacing: 0;
			position: absolute;
			text-align: center;
			width: 48px;
			height: 48px;
			border-radius: 50%;
			background: rgba(0, 0, 0, 0.125);
			line-height: 48px;
		}
	}
}

.byline {
	text-transform: uppercase;
	font-size: 1.4rem;
	margin-bottom: 3em;
}

h6 {
	color: #e2eeff;
	letter-spacing: 2px;
	font-weight: bold;
	font-size: 1.3rem;
}


a {
	color: #fff;
	text-decoration: none;
	border-bottom: 2px solid rgba(#fff, .25);
	transition: border-color .2s ease-in-out;

	&:hover {
		border-color: #e44c65;
	}
}

code {
	background: rgba(0, 0, 0, 0.125);
	border-radius: 3px;
	font-family: monospace;
	border: 1px solid rgba(0, 0, 0, 0.125);
	color: rgba(#fff, .8);
	font-size: 0.9em;
	padding: .25em .5em;
}

.guilabel {
	padding:0.1em 0.6em;
	//border: 1px solid #ccc;
	border: 1px solid #d6dbe2;
	font-size: 1.2rem;
	font-weight: 400;
	background: #fff;
	color:#333;
	border-radius:3px;
	//margin: 0 -3px 0 1px;
	text-shadow: 0 1px 0 #fff;
	white-space:nowrap;
}

.menuselection {
	.guilabel:first-of-type {
		margin: 0 -3px 0 1px;
	}
}

.circle-badge {
	display: inline-block;
	text-align: center;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	background: rgba(0, 0, 0, 0.125);
	line-height: 48px;
}